BD_DEV="Link para o Banco de Dados de desenvolvimento"
BD_PROD="Link para o Banco de Dados de produção"

JWT_SECRET="Palavra utilizada para gerar um token quando um usuário faz o login"

PORT="A porta em que o sistema deve rodar"